#main{
    min-height: 70vh;
}
md-tabs{
    position: sticky;
    top: 0; z-index: 1;
}
md-list{
    display: none
}
md-list-item div[slot="supporting-text"]{
    max-height: 4lh;
}
.active{
    display:block
}
