#main{
    min-height: 70vh;
}
md-tabs{
    position: sticky;
    top: 0; z-index: 1;
}
md-list{
    display: none
}
md-list-item div[slot="supporting-text"]{
    max-height: 4lh;
}
.active{
    display:block
}
md-fab{
    position: fixed;
    bottom: 1em; right: 1em;
}
@media screen and (max-width: 480px), screen and (orientation: portrait){html{
    md-fab{
        bottom: calc(1em + clamp(80px,88px,100px));
    }
}}
#credForm{
    padding-top: 3em;
    display: none;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    position: fixed; z-index: 2;
    background-color: var(--md-sys-color-surface-container);
    width: 20em; height: 15em;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    md-icon-button {
        position: absolute;
        top: 1em; right: 1em;
    }
}