:root {
  --md-source: #14539a;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #001b3c;
  --md-ref-palette-primary20: #003061;
  --md-ref-palette-primary25: #003b75;
  --md-ref-palette-primary30: #004689;
  --md-ref-palette-primary35: #11529a;
  --md-ref-palette-primary40: #255ea7;
  --md-ref-palette-primary50: #4378c1;
  --md-ref-palette-primary60: #5f92dd;
  --md-ref-palette-primary70: #7bacfa;
  --md-ref-palette-primary80: #a8c8ff;
  --md-ref-palette-primary90: #d5e3ff;
  --md-ref-palette-primary95: #ecf1ff;
  --md-ref-palette-primary98: #f9f9ff;
  --md-ref-palette-primary99: #fdfbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #121c2b;
  --md-ref-palette-secondary20: #273141;
  --md-ref-palette-secondary25: #323c4d;
  --md-ref-palette-secondary30: #3e4758;
  --md-ref-palette-secondary35: #495365;
  --md-ref-palette-secondary40: #555f71;
  --md-ref-palette-secondary50: #6e778a;
  --md-ref-palette-secondary60: #8791a5;
  --md-ref-palette-secondary70: #a2abc0;
  --md-ref-palette-secondary80: #bdc7dc;
  --md-ref-palette-secondary90: #d9e3f8;
  --md-ref-palette-secondary95: #ecf1ff;
  --md-ref-palette-secondary98: #f9f9ff;
  --md-ref-palette-secondary99: #fdfbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #28132f;
  --md-ref-palette-tertiary20: #3e2845;
  --md-ref-palette-tertiary25: #4a3351;
  --md-ref-palette-tertiary30: #563e5d;
  --md-ref-palette-tertiary35: #624a69;
  --md-ref-palette-tertiary40: #6f5675;
  --md-ref-palette-tertiary50: #896e8f;
  --md-ref-palette-tertiary60: #a387aa;
  --md-ref-palette-tertiary70: #bfa1c5;
  --md-ref-palette-tertiary80: #dbbce1;
  --md-ref-palette-tertiary90: #f8d8fe;
  --md-ref-palette-tertiary95: #feebff;
  --md-ref-palette-tertiary98: #fff7fb;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #001b3c;
  --md-ref-palette-neutral20: #003061;
  --md-ref-palette-neutral25: #003b75;
  --md-ref-palette-neutral30: #004689;
  --md-ref-palette-neutral35: #11529a;
  --md-ref-palette-neutral40: #255ea7;
  --md-ref-palette-neutral50: #4378c1;
  --md-ref-palette-neutral60: #5f92dd;
  --md-ref-palette-neutral70: #7bacfa;
  --md-ref-palette-neutral80: #a8c8ff;
  --md-ref-palette-neutral90: #d5e3ff;
  --md-ref-palette-neutral95: #ecf1ff;
  --md-ref-palette-neutral98: #f9f9ff;
  --md-ref-palette-neutral99: #fdfbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #181c22;
  --md-ref-palette-neutral-variant20: #2d3038;
  --md-ref-palette-neutral-variant25: #383b43;
  --md-ref-palette-neutral-variant30: #43474e;
  --md-ref-palette-neutral-variant35: #4f525a;
  --md-ref-palette-neutral-variant40: #5b5e66;
  --md-ref-palette-neutral-variant50: #74777f;
  --md-ref-palette-neutral-variant60: #8e9099;
  --md-ref-palette-neutral-variant70: #a8abb4;
  --md-ref-palette-neutral-variant80: #c4c6cf;
  --md-ref-palette-neutral-variant90: #e0e2ec;
  --md-ref-palette-neutral-variant95: #eef0fa;
  --md-ref-palette-neutral-variant98: #f9f9ff;
  --md-ref-palette-neutral-variant99: #fdfbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #255ea7;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #d5e3ff;
  --md-sys-color-on-primary-container-light: #001b3c;
  --md-sys-color-secondary-light: #555f71;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #d9e3f8;
  --md-sys-color-on-secondary-container-light: #121c2b;
  --md-sys-color-tertiary-light: #6f5675;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #f8d8fe;
  --md-sys-color-on-tertiary-container-light: #28132f;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fdfbff;
  --md-sys-color-on-background-light: #001b3c;
  --md-sys-color-surface-light: #fdfbff;
  --md-sys-color-on-surface-light: #001b3c;
  --md-sys-color-surface-variant-light: #e0e2ec;
  --md-sys-color-on-surface-variant-light: #43474e;
  --md-sys-color-outline-light: #74777f;
  --md-sys-color-inverse-on-surface-light: #ecf1ff;
  --md-sys-color-inverse-surface-light: #003061;
  --md-sys-color-inverse-primary-light: #a8c8ff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #255ea7;
  --md-sys-color-surface-tint-color-light: #255ea7;
  /* --md-sys-color-primary-light: rgb(65 94 145);
  --md-sys-color-surface-tint-light: rgb(65 94 145);
  --md-sys-color-on-primary-light: rgb(255 255 255);
  --md-sys-color-primary-container-light: rgb(215 227 255);
  --md-sys-color-on-primary-container-light: rgb(40 71 119);
  --md-sys-color-secondary-light: rgb(86 94 113);
  --md-sys-color-on-secondary-light: rgb(255 255 255);
  --md-sys-color-secondary-container-light: rgb(218 226 249);
  --md-sys-color-on-secondary-container-light: rgb(62 71 89);
  --md-sys-color-tertiary-light: rgb(112 85 116);
  --md-sys-color-on-tertiary-light: rgb(255 255 255);
  --md-sys-color-tertiary-container-light: rgb(250 216 253);
  --md-sys-color-on-tertiary-container-light: rgb(87 62 92);
  --md-sys-color-error-light: rgb(186 26 26);
  --md-sys-color-on-error-light: rgb(255 255 255);
  --md-sys-color-error-container-light: rgb(255 218 214);
  --md-sys-color-on-error-container-light: rgb(147 0 10);
  --md-sys-color-background-light: rgb(249 249 255);
  --md-sys-color-on-background-light: rgb(25 28 32);
  --md-sys-color-surface-light: rgb(249 249 255);
  --md-sys-color-on-surface-light: rgb(25 28 32);
  --md-sys-color-surface-variant-light: rgb(224 226 236);
  --md-sys-color-on-surface-variant-light: rgb(68 71 78);
  --md-sys-color-outline-light: rgb(116 119 127);
  --md-sys-color-outline-variant-light: rgb(196 198 208);
  --md-sys-color-shadow-light: rgb(0 0 0);
  --md-sys-color-scrim-light: rgb(0 0 0);
  --md-sys-color-inverse-surface-light: rgb(46 48 54);
  --md-sys-color-inverse-on-surface-light: rgb(240 240 247);
  --md-sys-color-inverse-primary-light: rgb(171 199 255);
  --md-sys-color-primary-fixed-light: rgb(215 227 255);
  --md-sys-color-on-primary-fixed-light: rgb(0 27 63);
  --md-sys-color-primary-fixed-dim-light: rgb(171 199 255);
  --md-sys-color-on-primary-fixed-variant-light: rgb(40 71 119);
  --md-sys-color-secondary-fixed-light: rgb(218 226 249);
  --md-sys-color-on-secondary-fixed-light: rgb(19 28 43);
  --md-sys-color-secondary-fixed-dim-light: rgb(190 198 220);
  --md-sys-color-on-secondary-fixed-variant-light: rgb(62 71 89);
  --md-sys-color-tertiary-fixed-light: rgb(250 216 253);
  --md-sys-color-on-tertiary-fixed-light: rgb(41 19 46);
  --md-sys-color-tertiary-fixed-dim-light: rgb(221 188 224);
  --md-sys-color-on-tertiary-fixed-variant-light: rgb(87 62 92);
  --md-sys-color-surface-dim-light: rgb(217 217 224);
  --md-sys-color-surface-bright-light: rgb(249 249 255);
  --md-sys-color-surface-container-lowest-light: rgb(255 255 255);
  --md-sys-color-surface-container-low-light: rgb(243 243 250);
  --md-sys-color-surface-container-light: rgb(237 237 244);
  --md-sys-color-surface-container-high-light: rgb(231 232 238);
  --md-sys-color-surface-container-highest-light: rgb(226 226 233); */
  /* dark */
  --md-sys-color-primary-dark: #a8c8ff;
  --md-sys-color-on-primary-dark: #003061;
  --md-sys-color-primary-container-dark: #004689;
  --md-sys-color-on-primary-container-dark: #d5e3ff;
  --md-sys-color-secondary-dark: #bdc7dc;
  --md-sys-color-on-secondary-dark: #273141;
  --md-sys-color-secondary-container-dark: #3e4758;
  --md-sys-color-on-secondary-container-dark: #d9e3f8;
  --md-sys-color-tertiary-dark: #dbbce1;
  --md-sys-color-on-tertiary-dark: #3e2845;
  --md-sys-color-tertiary-container-dark: #563e5d;
  --md-sys-color-on-tertiary-container-dark: #f8d8fe;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #001b3c;
  --md-sys-color-on-background-dark: #d5e3ff;
  --md-sys-color-surface-dark: #001b3c;
  --md-sys-color-on-surface-dark: #d5e3ff;
  --md-sys-color-surface-variant-dark: #43474e;
  --md-sys-color-on-surface-variant-dark: #c4c6cf;
  --md-sys-color-outline-dark: #8e9099;
  --md-sys-color-inverse-on-surface-dark: #001b3c;
  --md-sys-color-inverse-surface-dark: #d5e3ff;
  --md-sys-color-inverse-primary-dark: #255ea7;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #a8c8ff;
  --md-sys-color-surface-tint-color-dark: #a8c8ff;
  /* --md-sys-color-primary-dark: rgb(171 199 255);
  --md-sys-color-surface-tint-dark: rgb(171 199 255);
  --md-sys-color-on-primary-dark: rgb(12 48 95);
  --md-sys-color-primary-container-dark: rgb(40 71 119);
  --md-sys-color-on-primary-container-dark: rgb(215 227 255);
  --md-sys-color-secondary-dark: rgb(190 198 220);
  --md-sys-color-on-secondary-dark: rgb(40 48 65);
  --md-sys-color-secondary-container-dark: rgb(62 71 89);
  --md-sys-color-on-secondary-container-dark: rgb(218 226 249);
  --md-sys-color-tertiary-dark: rgb(221 188 224);
  --md-sys-color-on-tertiary-dark: rgb(63 40 68);
  --md-sys-color-tertiary-container-dark: rgb(87 62 92);
  --md-sys-color-on-tertiary-container-dark: rgb(250 216 253);
  --md-sys-color-error-dark: rgb(255 180 171);
  --md-sys-color-on-error-dark: rgb(105 0 5);
  --md-sys-color-error-container-dark: rgb(147 0 10);
  --md-sys-color-on-error-container-dark: rgb(255 218 214);
  --md-sys-color-background-dark: rgb(17 19 24);
  --md-sys-color-on-background-dark: rgb(226 226 233);
  --md-sys-color-surface-dark: rgb(17 19 24);
  --md-sys-color-on-surface-dark: rgb(226 226 233);
  --md-sys-color-surface-variant-dark: rgb(68 71 78);
  --md-sys-color-on-surface-variant-dark: rgb(196 198 208);
  --md-sys-color-outline-dark: rgb(142 144 153);
  --md-sys-color-outline-variant-dark: rgb(68 71 78);
  --md-sys-color-shadow-dark: rgb(0 0 0);
  --md-sys-color-scrim-dark: rgb(0 0 0);
  --md-sys-color-inverse-surface-dark: rgb(226 226 233);
  --md-sys-color-inverse-on-surface-dark: rgb(46 48 54);
  --md-sys-color-inverse-primary-dark: rgb(65 94 145);
  --md-sys-color-primary-fixed-dark: rgb(215 227 255);
  --md-sys-color-on-primary-fixed-dark: rgb(0 27 63);
  --md-sys-color-primary-fixed-dim-dark: rgb(171 199 255);
  --md-sys-color-on-primary-fixed-variant-dark: rgb(40 71 119);
  --md-sys-color-secondary-fixed-dark: rgb(218 226 249);
  --md-sys-color-on-secondary-fixed-dark: rgb(19 28 43);
  --md-sys-color-secondary-fixed-dim-dark: rgb(190 198 220);
  --md-sys-color-on-secondary-fixed-variant-dark: rgb(62 71 89);
  --md-sys-color-tertiary-fixed-dark: rgb(250 216 253);
  --md-sys-color-on-tertiary-fixed-dark: rgb(41 19 46);
  --md-sys-color-tertiary-fixed-dim-dark: rgb(221 188 224);
  --md-sys-color-on-tertiary-fixed-variant-dark: rgb(87 62 92);
  --md-sys-color-surface-dim-dark: rgb(17 19 24);
  --md-sys-color-surface-bright-dark: rgb(55 57 62);
  --md-sys-color-surface-container-lowest-dark: rgb(12 14 19);
  --md-sys-color-surface-container-low-dark: rgb(25 28 32);
  --md-sys-color-surface-container-dark: rgb(30 32 37);
  --md-sys-color-surface-container-high-dark: rgb(40 42 47);
  --md-sys-color-surface-container-highest-dark: rgb(51 53 58); */
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  --md-sys-typescale-label-small-line-height: 16px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  --md-sys-typescale-label-medium-line-height: 16px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  --md-sys-typescale-label-large-line-height: 20px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  --md-sys-typescale-body-small-line-height: 16px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  --md-sys-typescale-body-medium-line-height: 20px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  --md-sys-typescale-body-large-line-height: 24px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  --md-sys-typescale-headline-small-line-height: 32px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  --md-sys-typescale-headline-large-line-height: 40px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  --md-sys-typescale-display-small-line-height: 44px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  --md-sys-typescale-display-medium-line-height: 52px;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  --md-sys-typescale-display-large-line-height: 64px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
  --md-sys-typescale-title-small-line-height: 20px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  --md-sys-typescale-title-medium-line-height: 24px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  --md-sys-typescale-title-large-line-height: 28px;
}
