<link rel="stylesheet" type="text/css" href="/components/navbar/navbar.css"/>
<nav>
    <a href="/" class="">
        <span class="material-symbols-outlined">view_in_ar</span>
        <span class="navbar-text">Home</span>
    </a>
    <a href="/downloads" class="">
        <span class="material-symbols-outlined">download</span>
        <span class="navbar-text">Downloads</span>
    </a>
    <a href="/guides" class="">
        <span class="material-symbols-outlined">help</span>
        <span class="navbar-text">Guides</span>
    </a>
    <a href="https://cloud.mixcraftio.mywire.org" class="">
        <span class="material-symbols-outlined">backup</span>
        <span class="navbar-text">MixCloud</span>
    </a>
    <a href="https://watch.mixcraftio.mywire.org" class="">
        <span class="material-symbols-outlined">movie</span>
        <span class="navbar-text">MixTube</span>
    </a>
</nav>
