<link rel="stylesheet/less" type="text/css" href="/components/navbar/navbar.less"/>
<div>
    <nav>
        <a href="/" class="">
            <span class="material-symbols-outlined">view_in_ar</span>
            <span class="navbar-text">Home</span>
        </a>
        <a href="/downloads" class="">
            <span class="material-symbols-outlined">download</span>
            <span class="navbar-text">Downloads</span>
        </a>
        <a href="https://cloud.mixcraftio.mywire.org" class="">
            <span class="material-symbols-outlined">backup</span>
            <span class="navbar-text">Mixcloud</span>
        </a>
        <a href="https://youtu.be/dQw4w9WgXcQ" class="">
            <span class="material-symbols-outlined">visibility_off</span>
            <span class="navbar-text">DO NOT CLICK</span>
        </a>
    </nav>
</div>