<link rel="stylesheet" type="text/css" href="/components/footer/footer.css"/>
<footer>
    <section>
        <h2>About AzTeK's Workshop</h2>
        <div>
            <picture>
                <source srcset="/static/img/AzTeK-dark-noback.svg" media="(prefers-color-scheme: dark)">
                <img src="/static/img/AzTeK-light-noback.svg" alt="AzTeK logo">
            </picture>
            <p>AzTeK's Workshop is a platform where you can explore a diverse collection of games, tools, guides, and more.<br>Download exciting content, learn from useful guides, and access cloud storage solutions.<br>Start your enjoyable journey through my website and have fun!</p>
        </div>
    </section>
    <section>
        <h2>Quick Links</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/downloads/">Downloads</a></li>
            <li><a href="/guides/">Guides</a></li>
            <li><a href="https://cloud.aztek-web.fr">AzTeK Cloud</a></li>
            <li><a href="https://watch.aztek-web.fr">AzTek Video</a></li>
            <li><a href="/privacy-policy.html">Privacy policy</a></li>
        </ul>
    </section>
    <section>
        <h2>Contact Me</h2>
        <p>If you have any questions or inquiries, feel free to reach out to me at <a href="mailto:dimitri.faj@gmail.com">dimitri.faj@gmail.com</a>.</p>
    </section>
</footer>
