<link rel="stylesheet" type="text/css" href="/components/footer/footer.css"/>
<footer>
    <section>
        <h2>About Mixcraftio's Workshop</h2>
        <p>Mixcraftio's Workshop is a platform where you can explore a diverse collection of games, tools, guides, and more.<br>Download exciting content, learn from useful guides, and access cloud storage solutions.<br>Start your enjoyable journey through my website and have fun!</p>
    </section>
    <section>
        <h2>Quick Links</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/downloads/">Downloads</a></li>
            <li><a href="/guides/">Guides</a></li>
            <li><a href="https://cloud.mixcraftio.mywire.org">MixCloud</a></li>
            <li><a href="https://watch.mixcraftio.fr">MixTube</a></li>
            <li><a href="/privacy-policy.html">Privacy policy</a></li>
        </ul>
    </section>
    <section>
        <h2>Contact Us</h2>
        <p>If you have any questions or inquiries, feel free to reach out to me at <a href="mailto:dimitri.faj@gmail.com">dimitri.faj@gmail.com</a>.</p>
    </section>
</footer>
