<link rel="stylesheet" type="text/css" href="/components/navbar/navbar.css"/>
<div>
    <footer>
        <section>
            <h2>About Mixcraftio's Workshop</h2>
            <p>Mixcraftio's Workshop is a platform where you can explore a diverse collection of games, tools, guides, and more. Download exciting content, learn from useful guides, and access cloud storage solutions. Start your enjoyable journey through my website and have fun!</p>
        </section>
        <section>
            <h2>Quick Links</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Downloads</a></li>
                <li><a href="#">Guides</a></li>
                <li><a href="#">Cloud Storage</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </section>
        <section>
            <h2>Contact Us</h2>
            <p>If you have any questions or inquiries, feel free to reach out to us at <a href="mailto:dimitri.faj@gmail.com">dimitri.faj@gmail.com</a>.</p>
        </section>
    </footer>
</div>