@media screen and (width <= 480px) and (orientation: portrait){html{
    section#main{
        padding: 1rem;
        h1{margin: 2rem;}
    }
}}

section#main{
    padding: 2rem;
    margin-bottom: 0;
    & > h1{
        margin: 3rem;
        font-size: 3em;
        .red{
            color: var(--md-sys-color-error);
        }
    }
    section{
        background: var(--md-sys-color-surface-container);
        border-radius: 24px;
        margin-bottom: 2rem;
        & > *{
            padding: 2rem;
        }
        h2{
            padding-bottom: 0;
        }
        a{text-decoration: underline;}
    }
}